{% extends "base.html" %}

{% block body %}

<p class="lead">Select from below.</p>

<div class="btn-group btn-group-vertical">
    <p>
    <form action="/upload">
        <input type="submit" value="Upload Dockerfile" class="btn btn-large btn-primary">
    </form>
    </p>

    <p>
    <form action="/build-image">
        <input type="submit" value="Build image" class="btn btn-large btn-primary">
    </form>
    </p>

    <p>
    <form action="/start-container">
        <input type="submit" value="Start containers" class="btn btn-large btn-primary">
    </form>
    </p>

    <p>
    <form action="/validate">
        <input type="submit" value="Validate status" class="btn btn-large btn-primary">
    </form>
    </p>

    <p>
    <form action="/monitoring">
        <input type="submit" value="Monitoring" class="btn btn-large btn-primary">
    </form>
    </p>

    <p>
    <form action="/logger">
        <input type="submit" value="Aggregated logging" class="btn btn-large btn-primary">
    </form>
    </p>
</div>

{% endblock %}
