{% extends "base.html" %}

{% block body %}
<div id="logs">

</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
 <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.emit('get_logs');

    socket.on('logs_response', function(msg) {
        console.log(msg.data);
        $('#logs').append('<p>' + msg.data + '</p>');
    });
});
</script>
{% endblock %}