{% extends "base.html" %}

{% block body %}
<div>
    <h2>Select form list below</h2>
</div>


<div>
<form action="/use-image" method="POST">
  {% for image in image_list %}
    <div class="radio">
        <label>
            <input type="radio" name="image_id" value="{{image.id}}"> {{image.id}}
        </label>
    </div>
  {% endfor %}
  <input type="submit" value="Use image selected" class="btn btn-large btn-primary">
</form>
</div>

<div>
<form action="/build-image">
<input type="submit" value="Build new image" class="btn btn-large btn-success">
</form>
</div>

{% endblock %}
