{% extends "base.html" %}

{% block body %}
  <table class="table table-striped">
      <thead class="thead-dark">
          <tr>
              <th>
                  Container name
              </th>
              <th>
                  Status
              </th>
          </tr>
      </thead>
      <tbody>
          {% for key, value in status.items() %}
              <tr>
                  <td>
                      {{ key }}
                  </td>
                  <td>
                      {{ value }}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

<div class="text-right">
    <form action="/index">
        <input type="submit" value="Return to menu" class="btn btn-large btn-primary">
    </form>
</div>
{% endblock %}
